<div class="travelTime" #travelTime>
    <span>{{delay}} mins</span>
    <div>
        <div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="c_marker" [hidden]="!uiState.initialState() || !hideSearch">
        <span><ion-icon ios="ios-flag" md="md-flag"></ion-icon></span>
        <input id="secondInput" (press)="pressTo2($event)" type="text" placeholder="To" />
    </div>
    <search-map (elements)="searchInputs($event)" [hidden]='hideSearch'></search-map>
</div>

<ion-fab center bottom #fab [hidden]="uiState.completedState()">
    <button ion-fab color="dark"><ion-icon name="ios-more"></ion-icon></button>
    <ion-fab-list side="top" [hidden]="!uiState.initialState()">
        <button ion-fab (click)='showFav(fab)' color='dark'><ion-icon name="md-heart-outline"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left" [hidden]="!uiState.initialState()">
        <button ion-fab (click)='toggleSearch(fab)' color='dark'><ion-icon name="md-search"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right" [hidden]="!uiState.initialState()">
        <button ion-fab (click)='getRideHome(fab)' color='dark'><ion-icon name="ios-home"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="top" [hidden]="!uiState.bookedState() && !uiState.startedState()">
        <button ion-fab (click)='showDetails(fab)'><ion-icon name="md-car"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="left" [hidden]="!uiState.bookedState() && !uiState.startedState()">
        <button ion-fab (click)='cancelRide(fab)'><ion-icon name="md-close"></ion-icon></button>
    </ion-fab-list>
    <ion-fab-list side="right" [hidden]="!uiState.bookedState() && !uiState.startedState()">
        <button ion-fab (click)='callDriver(fab)'><ion-icon name="md-call"></ion-icon></button>
    </ion-fab-list>
</ion-fab>
<driver-details [details]="driver"></driver-details>
<seek-ride [show]="uiState.seekState()"></seek-ride>
<router-outlet></router-outlet>
<wait-action *ngIf="waitForResp"></wait-action>