$backColor:#333333;
.trip {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.travelTime {
    position: absolute;
    visibility: hidden;
    width: auto;
    text-align: center;
    >span {
        position: relative;
        font-weight: 700;
        color: #000;
        z-index: 2;
        font-size: 1.1em;
        white-space: nowrap;
        margin: 0 auto;
        background: rgba(255, 255, 255, 0.7);
        padding: 2px 4px;
        top: -5px;
    }
    >div {
        margin: 0 auto;
        width: 10vw;
        height: 5px;
        position: relative;
        background: transparent;
        &:before {
            content: "";
            position: absolute;
            width: 0;
            top: 100%;
            height: 0;
            left: calc(50% - 6px);
            border: 6px solid transparent;
            border-top-color: $backColor;
        }
        >div {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 20;
            height: 100%;
            overflow: hidden;
            padding: 0;
            >div {
                width: 30%;
                height: 3px;
                position: absolute;
                left: 0%;
                bottom: 0;
                background: #eff900;
                animation-name: marqueeAffect;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                z-index: 10;
            }
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 3px;
                left: 0;
                background: $backColor;
            }
        }
    }
}

$c_marker_bsize:1em;
#c_marker {
    position: absolute;
    width: 80%;
    background: #fff;
    top: 30%;
    left: 10%;
    box-shadow: 0px 10px 12px -9px rgba(0, 0, 0, 0.8);
    padding: 1em 1em .5em;
    border-radius: 2px;
    &>input {
        position: relative;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        padding-left: 1.5em;
        padding-bottom: .5em;
        text-overflow: ellipsis;
    }
    &>span {
        position: absolute;
        top: 1em;
        left: 1em;
        color: rgba(0, 0, 0, .8);
        background: inherit;
        text-align: center;
        width: 1em;
    }
}

@keyframes marqueeAffect {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}

@import "./ios"