<div class="customPage">
    <exit-page></exit-page>
    <page-title [title]="title"></page-title>
    <div class=" pageContent">
        <div padding>
            <ion-segment [(ngModel)]="tag">
                <ion-segment-button value="pending">
                    Pending
                </ion-segment-button>
                <ion-segment-button value="completed">
                    Completed
                </ion-segment-button>
            </ion-segment>
        </div>

        <div [ngSwitch]="tag">
            <ion-list *ngSwitchCase="'pending'">
                <ion-item-sliding *ngFor="let pending of pendingTrx; let i = index">
                    <ion-item>
                        <ion-avatar item-start>
                            <div class="fav-avtar-icon" [style.background-color]="random(i)">
                                <ion-icon name="logo-usd"></ion-icon>
                            </div>
                        </ion-avatar>
                        <h2 style="color:#111;font-weight:500">{{pending.totalDistance}}</h2>
                        <p>Sun Aug 06 2017 19:24:43 GMT-0700 (PDT)</p>
                    </ion-item>                   
                    <ion-item-options side="right">
                        <button ion-button color="dark" (click)="triggerPayment(pending)">
                            <br/>
        <ion-icon name="refresh" item-left ></ion-icon>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>

            <ion-list *ngSwitchCase="'completed'">
                <ion-item-sliding *ngFor="let completed of completedTrx; let i = index">
                    <ion-item>
                        <ion-avatar item-start>
                            <div class="fav-avtar-icon fav" [style.background-color]="random(i)">
                                <ion-icon name="logo-usd"></ion-icon>
                            </div>
                        </ion-avatar>
                        <h2 style="color:#111; font-weight:500">{{completed.amount}} USD</h2>
                        <p>{{completed.updated}}</p>
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button color="dark" (click)="deleteTag(completed)">
                            <br/>
        <ion-icon name="trash" item-left></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
                    </ion-item-options>                   
                </ion-item-sliding>
            </ion-list>
        </div>
    </div> 
    <wait-action *ngIf="waitForResp"></wait-action>
</div>

