<div class="customPage">
    <page-title [title]="title"></page-title>
    <exit-page></exit-page>
    <div class="pageContent">
        <form [formGroup]="accountDetails" (ngSubmit)="submitAccountDetails()">
            <ion-list>
                <ion-item>
                    <ion-label floating>Account Number</ion-label>
                    <ion-input type="text" [formControl]="accountDetails.controls['accountNumber']"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Routing Number</ion-label>
                    <ion-input type="text" [formControl]="accountDetails.controls['routingNumber']"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Date of Birth</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [max]="maxYear" [formControl]="accountDetails.controls['dob']"></ion-datetime>
                </ion-item>
                <br>
                <form [formGroup]="address">
                    <h3 style="width:100%;color:#00bfe0;font-weight:400">&nbsp;&nbsp;Billing Address</h3>
                    <ion-list>
                        <ion-item>
                            <ion-label floating>Street</ion-label>
                            <ion-input type="text" [formControl]="address.controls['streetAddress']"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>City</ion-label>
                            <ion-input type="text" [formControl]="address.controls['locality']"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>State</ion-label>
                            <ion-input type="text" [formControl]="address.controls['region']"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label floating>Postal Code</ion-label>
                            <ion-input type="text" [formControl]="address.controls['postalCode']"></ion-input>
                        </ion-item>
                        <ion-item></ion-item>
                    </ion-list>
                </form>
                <ion-item>
                    <ion-label><a (click) ="gotoTerms()">Agree to terms and conditions</a></ion-label>
                    <ion-toggle [formControl]="accountDetails.controls['termsAccepted']" color="secondary"></ion-toggle>
                </ion-item>
            </ion-list>
            <button ion-button block type="submit">Update</button>
        </form>
        <page-load [message]="pageLoadMsg" [show]="showLoadDialog"></page-load>
    </div>    
</div>