.genderBox {
    position: relative;
    text-align: center;
    width: 100%;
    &>ul {
        list-style-type: none;
        position: relative;
        width: 100%;
        &>li {
            display: inline-block;
            font-size: 2em;
            padding: 1em 1em .25em;
            text-align: center;
            opacity: 0.4;
            &.active {
                opacity: 1;
                border-bottom: 2px solid #333;
            }
        }
    }
}

.list-md .item-input:last-child {
    border-color: transparent !important;
}

.prof_img {
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    margin: .5em auto;
    border: none;
    & img {
        width: 10em;
        height: 10em;
        position: relative;
        border-radius: 50%;
        background: #ddd;
        border: none
    }
    
}

.roundBtn-outline{
    border: none;
    outline: none;
    color: #555;
    width:2em;
    height: 2em;
    font-size: 2em;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 1em;

}

.taxi-selection{
    background: #eee;
    border-radius:2em;
    padding-bottom: 5px;   
    border:1px solid #ccc !important;
    font-size: 500;
    ion-label{
        color:#555;
        span{
            position: relative;
            top:5px;
        }
    }
}

@import "./ios.scss"




