<div class="customPage">
    <exit-page></exit-page>
    <page-title [title]="title"></page-title>
    <div class="pageContent">
        <div class="prof_img">
            <img [src]="profileImg" />
            <button class="roundBtn-outline" (click)="clickPicture()">
                            <ion-icon name="camera"></ion-icon>
                    </button>
        </div>
        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <ion-list>
                <ion-item>
                    <ion-label floating>First Name</ion-label>
                    <ion-input [formControl]="form.controls['first_name']" type="text" [readonly]="isReadOnly"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Last Name</ion-label>
                    <ion-input [formControl]="form.controls['last_name']" type="text" [readonly]="isReadOnly"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Email</ion-label>
                    <ion-input [formControl]="form.controls['email']" type="email"></ion-input>
                </ion-item>
                <phone-control [formControl]="form.controls['phone']" [readonly] = "isReadOnly"></phone-control>
            </ion-list>
            <form [formGroup]="additionalInfoFrm" *ngIf="showDetails()">
                <div padding>
                    <ion-segment color="primary" [formControl]="additionalInfoFrm.controls['details']">
                        <ion-segment-button value="Personal">
                            <ion-icon name="person"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="Car">
                            <ion-icon name="car"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </div>
                <div [ngSwitch]="additionalInfoFrm.value.details">
                    <ion-list *ngSwitchCase="'Personal'">
                        <ssn-control [formControl]="additionalInfoFrm.controls['ssn']"></ssn-control>
                        <ion-item>
                            <ion-label floating>Drivers Licence</ion-label>
                            <ion-input [formControl]="additionalInfoFrm.controls['license']" type="text"></ion-input>
                        </ion-item>
                        <gender [formControl]="additionalInfoFrm.controls['gender']"></gender>
                    </ion-list>
                    <ion-list *ngSwitchCase="'Car'">
                        <auto-suggest label="Make" [formControl]="additionalInfoFrm.controls['make']"  [dataSource]="carNames" ></auto-suggest>
                        <auto-suggest label="Model" [formControl]="additionalInfoFrm.controls['model']"  [dataSource]="carModel" ></auto-suggest>
                        <auto-suggest label="Color" [formControl]="additionalInfoFrm.controls['color']"  [dataSource]="carColor" ></auto-suggest>
                        <ion-item>
                            <ion-label floating>Registration</ion-label>
                            <ion-input [formControl]="additionalInfoFrm.controls['registration']" type="text"></ion-input>
                        </ion-item>                        
                        <br/>
                        <br/>
                        <ion-item class="taxi-selection">
                            <ion-label><span><i class="material-icons">local_taxi</i></span>Taxi?</ion-label>
                            <ion-toggle checked="false" [formControl]="additionalInfoFrm.controls['isTaxi']"></ion-toggle>
                        </ion-item>
                    </ion-list>
                </div>
            </form>
            <div padding>
                <button type="submit" ion-button block >Register</button>
            </div>
        </form>
        <wait-action *ngIf="waitForResp"></wait-action> 
    </div>     
</div>

