$colorx:#888;
$size:8px;
$widthx:1px;
$heightx: 2em;
$leftx: 3px;
$borderx:1px;
search-map {
    position: absolute;
    top: 30%;
    width: 80%;
    left: 10%;
    z-index: 10;
    .searchBox {
        background-color: transparent;
        width: 100%;       
        position: relative;
        div.in:first-child{
            margin-bottom:1em;
        }      
        div.in {
            border-radius: 2px;
            background: #fff;
            position: relative;               
            box-shadow: 0px 10px 12px -9px rgba(0, 0, 0, 0.8);
            padding: 1em 1em .5em;                
            width:100%;
            &>input {
                display: block;
                width: 100%;
                border: none;                                      
                text-overflow: ellipsis;                    
                border: none;  
                padding-left: 1.5em;
                padding-bottom: .5em;
            }
            
            & div {
                width: $size;
                height: $size;
                padding: 0;
                border-radius: 50%;
                position: absolute;
                left: 1.5em;
                top: 40%;
                &.to {
                    background-color: orangered;
                }
                &.to:before {
                    content: '';
                    position: absolute;
                    background-color: $colorx;
                    width: $borderx;
                    height: $heightx;
                    top: - $heightx;
                    left: $leftx;
                    border-left: 1px solid #ccc;
                }
                &.from {
                    background-color: #33cc33;
                }
                &.from:before {
                    content: '';
                    position: absolute;
                    background-color: $colorx;
                    width: $borderx;
                    border-left: 1px solid #ccc;
                    height: $heightx;
                    bottom: -$heightx;
                    left: $leftx;
                }
            }
        }
    }
}