<div class="searchBox">
    <div class="in">
        <div class="from"></div>
        <input class="from" #from type="text" placeholder="From" (press)="pressTo('from')" />
    </div>    
    <div class="in">
        <div class="to"></div>
        <input class="to" #to type="text" placeholder="To" (press)="pressTo('to')" />
    </div>
</div>