.fav-avtar-icon {
    font-size: 2.8rem;
    text-align: center;
    border-radius: 50%;
    color: #f8f8f8;
    width: 4.5rem;
    height: 4.5rem;
    padding-top: 5px;
    -webkit-box-shadow: -1px 6px 5px -3px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -1px 6px 5px -3px rgba(0, 0, 0, 0.29);
    box-shadow: -1px 6px 5px -3px rgba(0, 0, 0, 0.29);
    &.fav {
        padding-top: 8px
    }
}