<div class="customPage">
    <exit-page></exit-page>
    <page-title [title]="title"></page-title>
    <div class=" pageContent">
        <div padding>
            <ion-segment [(ngModel)]="tag">
                <ion-segment-button value="home">
                    Home
                </ion-segment-button>
                <ion-segment-button value="fav">
                    Favourite
                </ion-segment-button>
            </ion-segment>
        </div>

        <div [ngSwitch]="tag">
            <ion-list *ngSwitchCase="'home'">
                <ion-item-sliding *ngFor="let tag of homeTags; let i = index">
                    <ion-item>
                        <ion-avatar item-start>
                            <div class="fav-avtar-icon" [style.background-color]="random(i)">
                                <ion-icon name="ios-home"></ion-icon>
                            </div>
                        </ion-avatar>
                        <h2 style="color:#111">{{tag.tag_name}}</h2>
                        <p>{{tag.end_address}}</p>
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button color="dark" (click)="deleteTag(tag)">
                            <br/>
        <ion-icon name="trash" item-left></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
                    </ion-item-options>
                    <ion-item-options side="right">
                        <button ion-button color="dark" (click)="seekCar(tag)">
                            <br/>
        <ion-icon name="car" item-left ></ion-icon>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
                    </ion-item-options>
                </ion-item-sliding>

            </ion-list>

            <ion-list *ngSwitchCase="'fav'">
                <ion-item-sliding *ngFor="let tag of favTags; let i = index">
                    <ion-item>
                        <ion-avatar item-start>
                            <div class="fav-avtar-icon fav" [style.background-color]="random(i)">
                                <ion-icon name="ios-heart"></ion-icon>
                            </div>
                        </ion-avatar>
                        <h2 style="color:#111">{{tag.tag_name}}</h2>
                        <p>{{tag.end_address}}</p>
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button color="dark" (click)="deleteTag(tag)">
                            <br/>
        <ion-icon name="trash" item-left></ion-icon>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
                    </ion-item-options>
                    <ion-item-options side="right">
                        <button ion-button color="dark" (click)="seekCar(tag)">
                            <br/>
        <ion-icon name="car" item-left ></ion-icon>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>
    </div>
</div>