.details-wrapper {
    position: absolute;
    top: 0;
    height: 6em;
    width: 100%;
    background: #F2F2F2;
    left: 0;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
    &>table {
        width: 100%;
        height: 100%;
        position: relative;
        &>tr:first-child {
            &>td:first-child,
            td:last-child {
                width: 5em;
            }
            &>td:last-child {
                text-align: right;
            }
        }
    }
}

.driver-img {
    height: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 1em .5em
}

.driver-name {
    text-align: center;
    font-weight: 500;
    margin-top: .5em
}

.car-regis {
    text-align: center;
    font-weight: 500
}

.car-dtl {
    text-align: center;
    font-size: 0.8em
}

.car-img {
    height: 4em;
    height: 4em;
    border-radius: 50%;
    margin: .5em;
    position: relative;
}

.rtlbt {
    text-align: center;
    position: relative;
    font-size: .7em;
    color: #686868
}

.line {
    width: 100%;
    height: 2px;
    background: #ccc;
    border-bottom: 1px solid #fff;
    margin: .25em 0;
}

.wrapper-container {
    text-align: center;
    position: relative;
    color: #444;
    &>.txt {
        font-size: .7em;
    }
    &>.stars {
        width: calc(4.5 * 1.2em);
        position: relative;
        overflow-x: hidden;
        white-space: nowrap;
        margin: 0 auto;
        font-size: .8em;
    }
}