<div *ngIf="driver" [hidden]="!show" class="details-wrapper">
    <table>
        <tr>
            <td rowspan="2"><img class="driver-img" src="{{driver.person_img}}"></td>
            <td>
                <div class="driver-name"> {{driver.name}}</div>
            </td>
            <td rowspan="2">
                <div class="car-regis">{{driver.car_regis}}</div>
                <div class="car-dtl">{{driver.car_make}} {{driver.car_model}}</div>
                <div class="car-dtl">{{driver.car_color}}</div>
            </td>
            <td rowspan="2"><img class="car-img" src="{{driver.car_img}}"></td>
        </tr>
        <tr>
            <td>
                <div class="rtlbt">
                    <ion-icon name="thumbs-up"></ion-icon>
                    <span>12</span>
                </div>
                <div class="line"></div>
                <div class="wrapper-container">
                    <div class="txt">4.5</div>
                    <div class="stars">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </div>

                </div>
            </td>
        </tr>
    </table>
</div>