.ios .pageTitle {
    top:1em;
}
//https://stephen.io/mediaqueries/#iphone
//ios 5 and 5s
@media  screen and (min-width:320px) and ( max-width: 566px){
.pageTitle {    
    h2:after {
        width: 80vw;  
    }
    h2:before {       
        left: 80vw;        
    }
}
}

//ios 6
@media  screen and (min-width:375px) and  (max-width: 667px){
.pageTitle {    
    h2:after {
        width: 83vw;  
    }
    h2:before {       
        left: 83vw;        
    }
}
}
