.pageTitle {
    position: relative;
    background: transparent;
    display: inline-block;
    left: -1.5em;
    margin-bottom: 2em;
    padding: 0;
    &>h2 {
        position: relative;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 500;
        display: inline-block;
        color: #fff;
        background: transparent;
        padding: 0 .25em 0 1em;
        background: rgba(49, 46, 43, 1);
        text-shadow: -1px 0 1px rgba(0, 0, 0, .8), 0 -1px 1px rgba(0, 0, 0, .8), 0 1px 1px rgba(0, 0, 0, .8), -1px -1px 1px rgba(0, 0, 0, .8),
    }
    h2:after {
        content: "";
        width: 85vw;
        height: 1px;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
        z-index: -1;
    }
    h2:before {
        content: "";
        width: 4px;
        height: 4px;
        background: #111;
        position: absolute;
        left: 85vw;
        top: calc(50% - 2px);
        border: 1px solid #000;
    }
}

@import "./ios"