<ion-item>
    <ion-label floating>SSN</ion-label>
    <ion-input [ngModel]="ssnNumber" (ngModelChange)="modalChangedEvent($event)" required  required [readonly] = "isReadOnly"></ion-input>
</ion-item>