cab-timer {
    position: relative;
    .waitTimer {
        background-color:rgba(244,247,248,1);
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;       
        border-radius: 4px;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);
    }
    p {
        span {
            &.digit {
                font-size: 1.25em;
                 font-weight: 600;
            }
            &.desc {
                padding-left: .1em;
                padding-right: .1em;
                 font-weight: 500;
            }
        }
    }
}