<div class='waitTimer'>
    <p>
        <span class="digit">{{getHour()}}</span>
        <span class="desc">h</span>
        <span class="digit">{{getMins()}}</span>
        <span class="desc">m</span>
        <span class="digit"> {{getSeconds()}}</span>
        <span class="desc">s</span>
    </p>
</div>