.wait-action-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &>.screen {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
    }
    z-index:1000;
}

.pulse-car {
    position: absolute;
    top: calc(50% - 3rem);
    left: calc(50% - 3rem);
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: #222;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(3, 3, 3, 0.4);
    animation: pulse-car 2s infinite;
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding-top: 1rem;
    font-smooth: antialiasing;
}

.pulse-car:hover {
    animation: none;
}

@-webkit-keyframes pulse-car {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(3, 3, 3, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 50px rgba(1, 1, 1, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(1, 1, 1, 0);
    }
}

@keyframes pulse-car {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(3, 3, 3, 0.4);
        box-shadow: 0 0 0 0 rgba(3, 3, 3, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 50px rgba(1, 1, 1, 0);
        box-shadow: 0 0 0 10px rgba(1, 1, 1, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(1, 1, 1, 0);
        box-shadow: 0 0 0 0 rgba(1, 1, 1, 0);
    }
}