<div style="position: absolute; top:0; left:0;right:0;bottom:0; padding: 16px;z-index:1000">
    <div style="position: absolute; top:0; left:0; width:100%;height: 100%;background: #000;opacity:0.7;">
    </div>
    <cab-donut [hidden]="!showWait" [time]="time"></cab-donut>
    <ion-card style="margin-top:12em" [hidden]="showWait">
        <ion-card-content>
            <table class="card-table">
                <tr>
                    <td colspan="2">
                        <h1>
                            Ride Request
                        </h1>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td class="equal" style="border-top:1px solid #eee;">
                        <h2>
                            <ion-icon name="pin"></ion-icon>
                        </h2>
                        <p style="font-size: 1em">{{request?.address}}</p>
                    </td>
                    <td class="equal" style="border-top:1px solid #ddd;">
                        <h2>
                            <ion-icon name="ios-car"></ion-icon>
                        </h2>
                        <p>{{request?.distance}} miles</p>
                    </td>
                </tr>
            </table>
        </ion-card-content>
        <ion-row>
            <table class="card-table">
                <tr style="background: #f8f9fa">
                    <td style="width:100%">
                        <ion-col center text-center>
                            <button ion-button block color="dark" (click)="onAccepted()">
                <ion-icon name="thumbs-up"></ion-icon>
                    &nbsp;&nbsp;
                    Accept</button>
                        </ion-col>
                    </td>
                </tr>
            </table>
        </ion-row>
    </ion-card>
</div>