auto-suggest {
    position: relative;
    &>div {
        &>ul {
            position: relative;
            width: calc(100% - 1.1em);
            list-style: none;
            padding: 1em;
            margin: 0;
            margin-left: 1.1em;
            background: #ffff;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
            z-index: 100;
            &>li {
                padding: .5em 0;
                color: #8f8f8f;
                width: 100%;
            }
            &>li:first-child {
                padding: 0 0 .5em 0;
            }
            &>li:last-child {
                padding: .5em 0 0 0;
            }
        }
    }
}