<div>
  <ion-item>
    <ion-label floating>{{labelTxt}}</ion-label>
    <ion-input [ngModel]="val" (ngModelChange)="modalChangedEvent($event)" (focusout)="inputFocused(false)"></ion-input>
  </ion-item>
  <ul *ngIf="showSuggest">
    <li *ngFor="let suggested of suggestData" (click)="selectedValue(suggested)">{{suggested}}</li>
  </ul>
</div>
