<div class="acquiring" [hidden]="!showDialog">
    <div class="zoom">
    </div>
</div>
<div class="acquiring" [hidden]="!showDialog">
    <p class="info">Contacting drivers<span class="pulse"></span></p>
</div>