$diameter:12em;
$seek_duration:1.5s;
.acquiring {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1000;
    .zoom {
        height: $diameter;
        width: $diameter;
        border-radius: 50%;
        top: calc(50% - 6em);
        left: calc(50% - 6em);
        background: transparent;
        position: absolute;
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8);
        animation-name: shrink;
        animation-duration: $seek_duration;
        animation-iteration-count: 1;
    }
    .info {
        color: #fff;
        position: absolute;
        top: 32%;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        animation: anim-visibility 3s ease-in;
    }
}

.pulse {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #e84f64;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse $seek_duration infinite;
    margin-left: .75em;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(220, 75, 62, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(220, 75, 62, 0.4);
        box-shadow: 0 0 0 0 rgba(220, 75, 62, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes shrink {
    from {       
        transform: scale(10, 10)     
    }
    to {        
        transform: scale(1, 1)        
    }
}

@keyframes anim-visibility {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}