$radius: 4px;
#card-image {
    position: absolute;
    width: 44px;
    height: 28px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/346994/card_sprite.png);
    background-size: 86px 458px;
    border-radius: $radius;
    background-position: -100px 0;
    background-repeat: no-repeat;
    margin-bottom: 1em;
    &.visa {
        background-position: 0 -398px;
    }
    &.master-card {
        background-position: 0 -281px;
    }
    &.american-express {
        background-position: 0 -370px;
    }
    &.discover {
        background-position: 0 -163px;
    }
    &.maestro {
        background-position: 0 -251px;
    }
    &.jcb {
        background-position: 0 -221px;
    }
    &.diners-club {
        background-position: 0 -133px;
    }
    &.none {
        background-position: 0 -8px;
    }
}

.cc-tbl {
    width: 100%;
    & td {
        width: 100%;
        padding: 0;
        position: relative;
        #card-image {
            position: absolute;
            top: 6em;
            right: 0
        }
        & label {
            position: relative;
            font-size: 1em;
            font-weight: 500;
            top: 2em;
            width: 100%;
            border-bottom: 1px solid #eeeddd;
            display: block;
            padding: 0 0 .5em;
            color: #858c93;
            & i {
                position: relative;
                top: 4px;
            }
        }
        & input {
            padding: 0;
            margin: 0;
        }
    }
}

.card-details {
    width: 100%;
    td:first-child {
        width: 20%
    }
    td:last-child {
        width: 30%;
    }
    td {
        width: 50%
    }
    & * h1 {
        font-family: "Roboto";
        color: #333;
        text-align: right;
        font-size: 1.2em;
        font-weight: 500;
    }
    & * p {
        margin-top: 5px;
        text-align: right;
    }
}

#card-image.thmbl {
    top: 0;
    position: absolute;
    right: 0;
}