<div class="customPage">
    <page-title [title]="title"></page-title>
    <exit-page></exit-page>
    <div class="pageContent">
        <div [hidden]="!card_details">
            <br/>
            <ion-list>
                <ion-item>
                    <div id="card-image" class="thmbl" [ngClass]="card_details?.cardType"></div>
                    <table class="card-details">
                        <tr>
                            <td></td>
                            <td>
                                <h1>{{card_details?.maskedNumber}}</h1>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <p>{{card_details?.expirationDate}}</p>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </ion-item>
            </ion-list>
            <button ion-button (click)="delete()" block>Delete</button>
        </div>
        <form id="checkout-form" action="/transaction-endpoint" method="post" [hidden]="card_details">
            <div id="error-message"></div>
            <ion-item>
                <table class="cc-tbl">
                    <tr>
                        <td colspan="2">
                            <label for="card-number"><i class="material-icons">credit_card</i> Card Number</label>
                            <div class="hosted-field" id="card-number"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="cvv"><i class="material-icons">lock</i> CVV</label>
                            <div class="hosted-field" id="cvv"></div>
                        </td>
                        <td>
                            <label for="expiration-date"><i class="material-icons">date_range</i> Expiration Date</label>
                            <div class="hosted-field" id="expiration-date"></div>
                        </td>
                    </tr>
                </table>

            </ion-item>
            <div padding style="border:none">
                <button type="submit" ion-button full disabled>Update</button>
            </div>
        </form>
    </div>
    <page-load [message]="pageLoadMsg" [show]="showLoadDialog"></page-load>
</div>