<div class="customPage">
  <page-title [title]="title"></page-title>
  <exit-page></exit-page>
  <div class="pageContent">
      <div class="notice">Enter 4 digit auth code you will receive through sms shortly.</div>
    <div class="authcode">
      <div class="numb">
        <input id="authId1" minlength="1" maxlength="1" tabindex="1" [ngModel]="num1" (ngModelChange)="modalChangedEvent($event,1)"  [(ngModel)] = "num1" type="number"/>
      </div>
      <div class="numb">
        <input id="authId2" minlength="1" maxlength="1" tabindex="2" [ngModel]="num2" (ngModelChange)="modalChangedEvent($event,2)" type="number"/>
      </div>
      <div class="numb">
        <input id="authId3" minlength="1" maxlength="1" tabindex="3" [ngModel]="num3" (ngModelChange)="modalChangedEvent($event,3)" type="number"/>
      </div>
      <div class="numb">
        <input id="authId4" minlength="1" maxlength="1" tabindex="4" [ngModel]="num4" (ngModelChange)="modalChangedEvent($event,4)" type="number"/>
      </div>
    </div>    
    <div padding>
      <button ion-button block (click)="onValidate()">Validate</button>
    </div>
    <wait-action *ngIf="waitForResp"></wait-action>
  </div>
</div>
