.authcode {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
    padding: 3em 0 2em;
    &>.numb {
        display: inline-block;
        padding: 0 .25em;
        position: relative;
        width: 20%;
        text-align: center;
        &>input {
            text-align: center;
            outline: none;
            border: none;
            background: transparent;
            border-bottom: 1px solid #888;
            position: relative;
            width: 100%;
            font-weight: 700;
            font-size: 2em;
        }
    }
   
}
.notice{
    position: relative;
    top:1em;
    text-align: center;
    color: #555;
    font-size: 0.75em;
}