<div class="donut">
    <p>{{time}}<span> secs to expiration.</span></p>
    <svg width="100%" height="100%">        
        <circle #circle class="circle_animation" r="60" cy="62" cx="62" />
    </svg>
</div>