$circumfarance: 377;
$dimension: 124px;
$borderColor: #000;
$backgroundColor: #111;
cab-donut {
    position: absolute;
    top: calc(50% - 61px);
    left: calc(50% - 61px);
}

.donut {
    position: relative;
    float: left;
    width: $dimension;
    height: $dimension;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    padding: 0;
    p {
        margin: 0;
        position: relative;
        text-align: center;
        height: 94%;
        width: 94%;
        top: 3%;
        left: 3%;
        background-color: $backgroundColor;
        border-radius: 50%;
        line-height: 7em;
        font-weight: 500;
        color: #fff;
        >span {
            font-weight: 100;
            line-height: 0;
            font-size: 0.7em;
            display: block;
            position: relative;
            top: -3.5em;
        }
    }
}

svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    circle {
        stroke-width: 4;
        fill: none;
        stroke: #def100;
    }
}

.circle_animation {
    /* this value is the pixel circumference of the circle */
    stroke-dasharray: $circumfarance;
    stroke-dashoffset: $circumfarance;
    animation: frame 3s linear infinite;
}

@keyframes frame {
    to {
        stroke-dashoffset: -$circumfarance;
    }
}