<div class="main">
    <div class="profile" [hidden]='showTab()'>
        <button (click)="loginGuest()" *ngIf="init">Guest</button>
        <button (click)="loginDriver()" *ngIf="init"> Drive</button>
    </div>
    <div class="img-logo">
        <img src="img/logo.png" class="bounce" width="100%" align="center">
    </div>
    <router-outlet></router-outlet>
</div>