    .main{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;       
        background-color: #fff;
         
    .profile {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        &>button {
            top: 90%;
            position: relative;
            font-size: 1em;
            width: 45%;
            height: 2.75em;
            border-radius: 4px; //box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
            background:#4CAF50;
            border: 1px solid #006904; //z-index: 10;
            -webkit-box-shadow: 0px 0px 0px 1px #4CAF50;
            -moz-box-shadow: 0px 0px 0px 1px #4CAF50;
            box-shadow: 0px 0px 0px 1px #4CAF50;
            color: #fff;
            font-weight: 500;
        }
        &>button:nth-child(odd) {
            margin-right: .5em;
        }
        &>button:nth-child(even) {
            margin-left: .5em;
        }
    }
        
    .img-logo {
        border: 0;
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        top:10%;
        left: 0;
        &>img {
            position: relative;
            margin: 0 auto;
            display: inline-block;
        }
    }
}
    
    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30%);
        }
        60% {
            transform: translateY(-20%);
        }
    }
    
    .bounce {
        animation: bounce 4s 1;
    }