.exitPage {
    display: inline-block;
    position: absolute;
    right: .5em;
    top: .5em;
    button {
        border-radius: 50%;
        background: #222;
        width: 3em;
        height: 3em;
        border: 1px solid #111;
    }
}

@import "./ios";