// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}
*/

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none !important;
}

.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner:after,
.item-ios.item-input.custom-invalid.ng-touched:not(.input-has-focus) .item-inner:after,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner:after,
.item-md.item-input.custom-invalid.ng-touched:not(.input-has-focus) .item-inner:after {
    box-shadow: none !important;
    content: "\00d7";
    bottom: 0;
    right: 0;
    font-size: 1.3em;
    color: #9e0317;
}

.list-md .item-input.input-has-focus:last-child {
    box-shadow: none;
}

input,
textarea {
    user-select: auto !important;
    -moz-user-select: auto !important;
    -webkit-user-select: auto !important;
    -ms-user-select: auto !important;
}

.pac-matched, .pac-item-query{
    font-weight:400 !important;
    color:#000 !important;
}    

.pac-container{
    box-shadow:0px 5px 5px 2px rgba(0,0,0,0.3) !important;
    border-top: 2px solid #3e8ddd;
    padding-left:.75em;
    padding-right:.75em;
    padding-bottom:.75em;
}

.pac-icon{
    display: none;
}


.pac-item {
    font-size: 1.25rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-family: "Roboto" !important;
    border:none !important;
}

ion-toast {
    width: 90% !important;
    left: 5% !important;
}

ion-item-options[side*="right"] .button{
    border-radius: 0 .5em .5em 0 !important;
}

ion-item-options[side*="left"] .button{
    border-radius: .5em 0 0 .5em !important;
}

@import "./ios";