.toolbar-background-ios {
    border-color: #b2b2b2;
    background: #111;
}

ion-menu[type=reveal] {
    z-index: 100;
}

.item-ios .menu-btn.item-button {
  height: 3rem;
  
}

.list-ios .item-block .item-inner {
    border-bottom: 1px solid #c8c7cc;
}
