<div class="customPage">
    <page-title [title]="title"></page-title>
    <exit-page></exit-page>
    <div class="pageContent">
        <ion-slides pager>
            <ion-slide *ngFor="let slide of slides">
                <img [src]="slide.image" class="slide-image" />
                <h2 class="slide-title" [innerHTML]="slide.title"></h2>
                <p [innerHTML]="slide.description"></p>
            </ion-slide>
            <ion-slide>
                <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
                <h2 class="slide-title">Ready to Play?</h2>
                <button ion-button large clear icon-end color="primary">
                        Continue
                        <ion-icon name="arrow-forward"></ion-icon>
                      </button>
            </ion-slide>
        </ion-slides>
    </div>
</div>