#menu_toolbar {
    background-color: transparent;
    div {
        border: none;
    }
}

.customPage {
    position: absolute;
    background: rgba(49, 46, 43, 1);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 1em 1em;
    overflow: auto;
    z-index: 3000;
    &>.pageContent {
        padding: 1em 1em 1em;
        background: #fff;
        position: relative;
        width: auto;
        height: auto;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        min-height: 25%;
        &.cover {
            height: calc(100% - 6em);
        }
        /* top: 50%;
        transform: translateY(-50%);*/
        & *.list-md>.item-block:first-child,
        & *.list-md>.item-wrapper:first-child .item-block,
        & *.list-ios>.item-block:first-child,
        & *.list-ios>.item-wrapper:first-child .item-block {
            border-top: none;
        }
        /* & * .item-inner {
            border: none
        }
        */
        color:#333;
    }
}

ion-fab {
    z-index: 70;
}

.toolbar-background-md {
    border-color: #b2b2b2;
    background: #111;
}

.bar-button-menutoggle,
.bar-button-menutoggle-md,
.item-md h2, .item-ios h2{
    color: #f8f8f8
}

.menu-btn {
    padding-bottom: 1em;
    & .button-inner {
        justify-content: flex-start;
    }
}

.menu-btn:first-child {
    padding-top: 1em;
}

.menu-btn:first-child {
    padding-top: 1em;
}

.menu-material-icon {
    position: relative;
    top: 0;
    left: -3px;
    font-size: 1.2em !important;
}

.badge{
    position: absolute;
    right:2em;
    background: #333;
    font-size:.5em;
    top:calc(50% - 1em);
    color: #fff;
    width:2em;
    height: 2em;
    border-radius: 50%;   
    text-align:center;
    line-height: 2em;
}