<ion-menu [content]="content">
    <ion-header class="menu-background">
        <ion-toolbar>
            <ion-item id="menu_toolbar">
                <ion-avatar item-left>
                    <img [src]="image">
                </ion-avatar>
                <h2>{{userName}}</h2>
            </ion-item>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <button ion-button clear color="dark" block (click)="openPage('registraion')" class="menu-btn"><ion-icon  name="md-person"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Profile</button>
            </ion-item>
            <ion-item>
                <button ion-button clear color="dark" block (click)="openPage('payment')" class="menu-btn"><ion-icon name="ios-cash"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Payment</button>
            </ion-item>
            <ion-item *ngIf="!this.isDriver">
                <button ion-button clear color="dark" block (click)="openPage('fav')" class="menu-btn"><ion-icon name="md-heart"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;Favorite</button>
            </ion-item>
            <ion-item *ngIf ="this.isDriver">
                <button ion-button clear color="dark" block (click)="openPage('trx')" class="menu-btn"><i class="material-icons menu-material-icon">history</i>&nbsp;&nbsp;History</button>                
            </ion-item>
            <ion-item *ngIf = "isAndroid">
                <button ion-button clear color="dark" block (click)="openPage('logout')" class="menu-btn"><ion-icon  name="md-power"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;LogOut</button>
            </ion-item>
            <ion-item>
                <button ion-button clear color="dark" block (click)="openPage('terms')" class="menu-btn"><i class="material-icons menu-material-icon">assignment</i>&nbsp;&nbsp;Terms and Conditions</button>
            </ion-item>
        </ion-list>     
    </ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
<router-outlet></router-outlet>