.load-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 10, 10, 0.95);
    text-align: center;
    &>.container {
        height: auto;
        width: auto;
        text-align: center;
        position: relative;
        margin: auto;
        top: 40%;
        display: inline-block;
        padding: 1em;
        &>.txt {
            position: relative;
            display: inline-block;
            &>span {
                position: relative;
                text-align: center;
                width: auto;
                font-weight: 500;
                font-size: 1.1em;
                color: #fff;
                top: -1em;
                height: 100%;
                padding: 0 1em;
            }
        }
    }
}

.loader {
    border: .25em solid #000;
    border-radius: 50%;
    border-top: .25em solid #28e01a;
    border-left: .25em solid #10ff00;
    width: 3em;
    height: 3em;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    display: inline-block;
    position: relative;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}