<div class="customPage">
    <exit-page></exit-page>
    <page-title [title]="title"></page-title>
    <div class="pageContent">
        <ion-list>
            <ion-item>
                <h2 style="width:100%;color:#00bfe0;font-weight:400">&nbsp;&nbsp;Future rides?</h2>
            </ion-item>
            <ion-item>
                <ion-label>Donot Recommend</ion-label>
                <ion-toggle [(ngModel)]="tripData.dontRecommend" color="danger"></ion-toggle>
            </ion-item>
        </ion-list>
        <ion-list [hidden]="isDriver">
            <ion-item>
                <h2 style="width:100%;color:#00bfe0;font-weight:400">&nbsp;&nbsp;Rate</h2>
            </ion-item>
            <ion-item>
                <ion-range min="0" max="5" pin="true" [(ngModel)]="tripData.rate" [color]="getRangeColor()">
                    <ion-label range-left color="dark">0</ion-label>
                    <ion-label range-right color="dark">5</ion-label>
                </ion-range>
            </ion-item>
        </ion-list>
        <ion-list [hidden]="isDriver">
            <ion-item>
                <h2 style="width:100%;color:#00bfe0;font-weight:400">&nbsp;&nbsp;Round to nearest</h2>
            </ion-item>
            <ion-item>                
                <div tyle="width: 100%;position: relative;overflow: auto; white-space: normal;">
                    <button ion-fab (click)="payTip(tripData.tipAmount.first)" color="dark" style="display:inline-block">${{tripData.tipAmount?.first}}</button>&nbsp;&nbsp;
                    <button ion-fab (click)="payTip(tripData.tipAmount.second)" color="dark" style="display:inline-block">${{tripData.tipAmount?.second}}</button>&nbsp;&nbsp;
                    <button ion-fab (click)="payTip(tripData.tipAmount.third)" color="dark" style="display:inline-block">${{tripData.tipAmount?.third}}</button>&nbsp;&nbsp;
                </div>
                <br/>
                <div style="font-size: 0.75em;overflow-wrap: break-word; position: relative; overflow: auto;white-space: normal;" *ngIf="!tripData.tip">
                    <p style="color:#aaa">The total cost of the trip is <b>${{tripData.amount}}</b>. However you could round the amount to tip the driver</p>
                </div>            
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item  [hidden]="isDriver">
                <h2 style="width:100%;color:#00bfe0;font-weight:400">&nbsp;&nbsp;Tag location</h2>
            </ion-item>
            <ion-item no-lines  [hidden]="isDriver">
                <button ion-button default round color="light" (click)="tagLocation(1)"><ion-icon name="home"></ion-icon></button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button ion-button default round color="light" (click)="tagLocation(2)"><ion-icon name="heart"></ion-icon></button>
            </ion-item>
            <ion-item [hidden]="!tripData.tag">
                <ion-label>Tag name</ion-label>
                <ion-input type="text" [(ngModel)]="tripData.tagName"></ion-input>
            </ion-item>
            <ion-item>
                <button ion-button block (click)="UpdateTripComplete()" default>Update</button>
            </ion-item>
        </ion-list>

    </div>
</div>