<ion-fab top right #fab *ngIf="showNav">
    <button ion-fab color="dark"><ion-icon name="md-more"></ion-icon></button>
    <ion-fab-list>
        <button ion-fab (click)='startNavigationToPickup(fab)'><ion-icon name="ios-person-add-outline"></ion-icon></button>
        <button ion-fab (click)='startNavigationToDest(fab)'><ion-icon name="md-flag"></ion-icon></button>
        <button ion-fab (click)='cancelRide(fab)'><ion-icon name="md-close"></ion-icon></button>
    </ion-fab-list>
</ion-fab>
<div padding class="trip">
    <button (click)='inWait()' *ngIf='state.inWaiting()' ion-button color="secondary" block><ion-icon name="md-timer"></ion-icon>&nbsp;&nbsp;Track Me</button>
    <button (click)='exitWait()' *ngIf='state.endWaiting()' ion-button color="danger" block><ion-icon name="md-timer"></ion-icon>&nbsp;&nbsp;Donot Track</button>
    <button (click)='startTrip()' *ngIf='state.tripStarted()' ion-button color="secondary" block><ion-icon name="md-speedometer"></ion-icon>&nbsp;&nbsp;Start Trip</button>
    <button (click)='tripComplete()' *ngIf='state.tripComplete()' ion-button color="danger" block><ion-icon name="md-speedometer"></ion-icon>&nbsp;&nbsp;Complete Trip</button>
    <button (click)='reachedLocation()' *ngIf='state.ProceedToCustomerLocation()' ion-button color="primary" block><ion-icon name="md-pin"></ion-icon>&nbsp;&nbsp;At User Location</button>
</div>
<ride-request [request]="details" [waitTime]="waitTimeOut" (accepted)="onRideAccepted($event)" (rejected)="onRideRejected($event)" (waitComplete)="onWaitComplete($event)" (interrupt)="onTimeInterrupted($event)" [hidden]="!showDialog"></ride-request>
<router-outlet></router-outlet>
<wait-action *ngIf="waitForResp"></wait-action>