.trip {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #333;
    -webkit-box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.3);
}



.forceText {
    font-weight: 100 !important;
}