gender {
    &[class*="ng-invalid"] {
        &>.genderBox:after {
            content: "\00d7";
            top: 45%;
            left: 75%;
            font-size: 1.4em;
            color: #9e0317;
            position: absolute;
        }
    }
    &>.genderBox {
        position: relative;
        text-align: center;
        width: 100%;
        &>ul {
            list-style-type: none;
            position: relative;
            display: inline-block;
            width: auto;
            border-bottom: 2px solid rgba(50, 50, 50, 0.2) !important;
            padding: 0;
            &>li {
                position: relative;
                display: inline-block;
                font-size: 1.7em;
                padding: 1em 1em .25em;
                text-align: center;
                opacity: 0.4;
                color: #333;
                border: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                &.active {
                    opacity: 1;
                    border-bottom: 2px solid #333 !important;
                }
            }
        }
    }
}