<div class="genderBox">
    <ul>
        <li (click)="onGenderSelect('m')" [ngClass]="getActiveClass('m')">
            <ion-icon name="ios-man"></ion-icon>
        </li>
        <li (click)="onGenderSelect('f')" [ngClass]="getActiveClass('f')">
            <ion-icon name="ios-woman"></ion-icon>
        </li>
    </ul>
</div>