$size:72px;
.alert-button-group-vertical {
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.alert-tbl {
    margin-top: 2em;
    font-size: 0.9em;
    text-align: center;
    width: 100%;
    & td {
        padding: 1em 1em;
    }
    & td:nth-child(even) {
        border-right: 1px solid #eee;
        border-left: 1px solid #eee;
    }
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

table.card-table {
    width: 100%;
    td {
        text-align: center;
        padding: .5em 1em 0;
        &.equal {
            width: 50%
        }
    }
}

ion-card {
    position: relative;
}

div.circle-placeholder {
    width: $size;
    height: $size;
    padding: 8px;
    margin: 0 auto;
}

div.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    padding: 1px;
    div {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        text-align: center;
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
        &:after {
            content: "";
            position: absolute;
            top: 30%;
            right: -75%;
            width: 0;
            height: 0;
            border: 8px solid transparent;
            border-color: transparent transparent transparent #ccc;
        }
        &.taxi {
            background: #387ef5;
        }
        &.share {
            background: #e84f64;
        }
    }
    p.icon {
        position: relative;
        font-size: $size/2 - 12;
        ion-icon {
            font-size: 1em;
            color: #fff;
        }
    }
    p.text {
        padding: 0;
        margin: -2px;
        line-height: 0;
        color: #fff;
        font-size: .8em;
        position: relative;
    }
}

table.selection {
    width: 100%;
    padding: 10%;
    td {
        text-align: center;
        width: 30%;
        position: relative;
        h3 {
            color: #666;
            position: relative;
            padding-bottom: 5px;
            &:before {
                content: "";
                bottom: 0;
                left: 45%;
                width: 10%;
                height: 2px;
                background: #e3e4d8;
                position: absolute;
            }
            &:after {
                content: "";
                bottom: -6px;
                left: calc(50% - 3px);
                width: 0;
                height: 0;
                position: absolute;
                border: 3px solid transparent;
                border-top-color: #e3e4d8
            }
        }
        h2 {
            position: relative;
            margin: 0 1em;
            padding-top: 5px;
        }
        &:nth-of-type(2):after {
            content: "";
            position: absolute;
            top: 25%;
            right: 0;
            width: 1px;
            height: 50%;
            border: 1px solid transparent;
            border-color: transparent transparent transparent #EAEAEA;
        }
    }
}