<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
         <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div id="map" #map>
    </div>
    <!-- router-outlet></router-outlet -->
</ion-content>